<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/custom.css">
</head>
<body>
    <div class ="err-text err-center">
        <h1 class="text-center">Book have been existed in db </h1>   
    </div>
    <div class="err-center">
        <a href="/admin/new" class="btn btn-info btn2">Return</a>
    </div>
</body>
</html>